<script setup lang="ts">
import { ref } from "vue";
import { RouterView } from "vue-router";
import {
  mdiWeatherSunny,
  mdiWeatherNight,
  mdiCup,
  mdiSilverwareClean,
  mdiCakeVariant,
  mdiKeyboardBackspace,
} from "@mdi/js";
//mport { useLoginStore } from "@/stores/login";
//const loginStore = useLoginStore();

const theme = ref("light");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
</script>

<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-spacer></v-spacer>

      <v-btn
        :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight"
        @click="onClick"
        >Toggle Theme</v-btn
      >
    </v-app-bar>
    <v-navigation-drawer expand-on-hover rail permanent>
      <v-list>
        <v-list-item
          prepend-avatar="https://i.pinimg.com/564x/42/29/a2/4229a2905a0e20e4fd5738cb8624755e.jpg"
          title="NewIceArmMix"
          subtitle="MadiProject@go.buu.ac.th"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          :prepend-icon="mdiCup"
          title="Drink"
          value="drink"
          to="/drink"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiSilverwareClean"
          title="Food"
          value="Food"
          to="/food"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiCakeVariant"
          title="Dessert"
          value="Dessert"
          to="/dessert"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list>
        <v-list-item
          :prepend-icon="mdiKeyboardBackspace"
          title="back"
          value="back"
          to="/back"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>
